<form class='box login-form'>
  <div class='field'>
    <label class='label email-login' for='email-login'>Email</label>
    <div class='control'>
      <input
        class='input'
        type='text'
        placeholder='e.g. alex@example.com'
        id='email-login'
      />
    </div>
  </div>

  <div class='field'>
    <label class='label password-login' for='password-login'>Password</label>
    <div class='control'>
      <input
        id='password-login'
        class='input'
        type='password'
        placeholder='********'
      />
    </div>
  </div>

  <button class='button is-primary' type='submit'>Sign in</button>
  <a class='button is-primary' href='/signup'>Sign up</a>

</form>

<script src='/javascript/login.js'></script>