<section class='section'>
  <div class='notification is-secondary'>
    <p style='font-size:30px'>Sign Up</p>
  </div>
  <form class='box signup-form'>
    <div class='field'>
      <label
        class='label username-signup'
        for='username-signup'
      >Username</label>
      <div class='control'>
        <input
          class='input'
          type='text'
          placeholder='e.g. abc'
          id='username-signup'
        />
      </div>
    </div>

    <div class='field'>
      <label class='label email-signup' for='email-signup'>Email</label>
      <div class='control'>
        <input
          class='input'
          type='text'
          placeholder='e.g. alex@example.com'
          id='email-signup'
        />
      </div>
    </div>

    <div class='field'>
      <label
        class='label password-signup'
        for='password-signup'
      >Password</label>
      <div class='control'>
        <input
          id='password-signup'
          class='input'
          type='password'
          placeholder='********'
        />
      </div>
    </div>
    <button class='button is-primary' type='submit'>Sign Up</button>
  </form>
</section>

<script src='/javascript/signup.js'></script>